.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 50px;
    background-color: #97a2db;
    padding: 40px;
    justify-content: center;
}

.item {
    background-color: rgb(41, 11, 138);
    padding: 70px;
    border: 5px solid #F57C00;
    text-align: center;
    border: 10px solid rgb(18, 5, 67);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5);
}